.App {
  text-align: center;
 
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color:black;
  height: 50px;
  padding: 20px;
  color: white;
}

.App-title {
 
  left:50%;
  margin-left: 500px;
}

.App-intro {
  font-size: large;
}

.selector {
  margin: auto;
    width: 250px;
    
}

#app-holder{
  position: relative;
  width:1000px;
  min-height: 1000px;
}

.map-container{
  color:white;
  position:absolute;
  left:50%;
  margin-left: -475px; 
}

#instructions{
  color:white;
  margin-top: 0px;
  margin-bottom: 10px;
}

#date{
  color:white;
  margin-top: 10px;
  margin-bottom: 10px;
}

#zone1{
  position: absolute;
  height: 50px;
  top: 237px;
  left: 668px;
}

#zone2{
  position: absolute;
  height: 50px;
  top: 406px;
  left: 671px;
}

#zone3{
  position: absolute;
  height: 50px;
  top: 151px;
  left: 530px;
}

#zone4{
  position: absolute;
  height: 50px;
  top: 475px;
  left: 457px;
}

#zone5{
  position: absolute;
  height: 50px;
  top: 143px;
  left: 391px;
  width: 110px;
}

#zone6{
  position: absolute;
  height: 50px;
  top: 311px;
  left: 329px;
}

#zone7{
  position: absolute;
  height: 50px;
  top: 499px;
  left: 256px;
}

#zone8{
  position: absolute;
  height: 50px;
  top: 190px;
  left: 231px;
  width: 110px;
}

#zone9{
  position: absolute;
  height: 50px;
  top: 307px;
  left: 132px;
}

#zone10{
  position: absolute;
  height: 50px;
  top: 484px;
  left: 75px;
}

.zone-holder{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  margin:0 0 -5px 0; 
  letter-spacing: 0rem;
  width: 130px;
 
}



li{
    
}

.map {
  width: 950px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
